/* General Styles */
body {
    font-family: 'Caveat Brush', cursive;
    color: #f296c0;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
    position: relative;
    overflow-y: auto;
}

/* Background */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/sakura.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.31;
    z-index: -1;
}

/* Navbar */
.navbar {
    background-color: #ffd6e8 !important;
    height: 100px;
}

.nav-link {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1.5em;
}

.nav-link:hover {
    color: #000000 !important;
}

.nav-link.active {
    color: #ff69b4 !important;
}

/* Buttons */
.admin-btn {
    background-color: #ff69b4;
    border-color: #ff69b4;
    font-size: 1.5em;
}

.admin-btn:hover {
    background-color: #ff1493;
    border-color: #ff1493;
}

.btn-outline-success {
    color: #ff69b4;
    border-color: #ff69b4;
}

.btn-outline-success:hover {
    color: white;
    background-color: #ff69b4;
    border-color: #ff69b4;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Caveat Brush', cursive;
    color: #f296c0;
}

/* Miscellaneous */
.logo {
    height: 100px;
}

.letras {
    font-size: 1.5em;
}
